*{ padding: 0px; margin: 0px; 
   box-sizing: border-box; font-size: 12px;
}
li{ list-style: none;}
a{ color: black; text-decoration: none;}

/*============================== 레이아웃 ============================*/
#wrap 
/*================================== 헤더============================*/
#header{
    width: 100%; display: contents; /* display: contents;는 보이진 않지만 sticky처럼 쓰임 */
}
#topMenu > ul{ 
    display: flex;
    justify-content: flex-end;    
}
#topMenu > ul >li{
    border-right: 1px solid black; 
    font-size: 14px;
    padding-left: 20px; padding-right: 20px; }
#mainMenu > ul{ display: flex; width: 80% }
#mainMenu > ul > li{ 
    height: 80px; width: 80px;
    display: flex; align-items: center; justify-content: center;
} 
.searchbox{ border-bottom: 1px solid black; }
.searchbox > input{ border: none; padding: 5px; width: 130px; 
    background-color: rgba(255, 255, 255, 0 );}
.searchbox > img{ width: 15px;}
.focus{ outline: none; } /*커 서(포커스) 활성화 되었을 때 테두리/ outline 제거*/
/*============드롭메뉴=============*/
#mainMenu > ul > li{ position: relative;}
#mainMenu .subMenu{
    positon
}

/*=====================================메인=====================================*/
#content{ width: 1280px; margin: 0 auto;}

/*====================================푸터===================================*/
#footer{ width: 100% ;}