#wrap{ width: 1280px;  margin: 0 auto; }

/* =========================1. 헤더========================*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header > ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: small; color: rgb(36, 35, 35);
}
/* =========================2. 메인========================*/
/*1. upper 내용을 가로 일직선 배열
2. 예약안내 박스 만들기
3. 포토갤러리 박스 만들기*/
.upper{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 20px;
}
.main-img > img{
    width: 100%;
}

4. lower박스 배경 색 조정 및 높이 설정
5. 사진 및 텍스트의 크기, 간격 조정
6. 로어박스와 푸터 사이의 간격 생성

/* =========================3. 푸터========================*/
1. 