
.box{ 
    background-color: rgb(236, 236, 236);
    width: 600px; height: 500px;
}
.roundbox{
    background-color: rgb(43, 42, 42);
    border-radius: 100%;
    width: 50px; height: 50px;
    text-decoration-color: white;
}