

/* 2. 로그인구역 */
.로그인구역{
    width: 350px ; /* 구역 가로 사이즈 */
    /* 관례적으로 height; 화면 높이(세로 길이)는 정하지 않고, 콘텐츠 길이에 자동으로 조정된다. */
    text-align: center ; /* 하위 요소들의 가로 가운데 배치 */
    margin: 0 auto; /* 해당 구역 가로 가운데 배치 */
    box-shadow: 1px 2px 20px rgba(212, 33, 108, 0.445); /* 구역 그림자 */
    padding: 20px ;
}

/* 3. 입력상자들 */
.입력구역 > input{ /*상위 선택자 > 하위선택자 */
    border-radius: 10px ; /* 둥근 모서리 */
    border: solid 1px lightgrey; /* 테두리 : 밝은 회색 */
    padding: 10px ;
    margin-bottom: 20px ; /* 바깥 여백 */
}

/* 4. 로그인버튼 */
.입력구역 > button { /* 버튼 사이즈는 여백 또는 크기 조정 */ 
    padding: 8px 20px ; 
    background-color: blue ;/* 배경색 */
    color: white ; /* 글꼴색상 */
    border: none ;
    border-radius: 10px ;
}

/* 5. 링크 마크업 */
.서브제목{ 
    text-decoration: none ; /* 밑줄 윗줄 취소선 */
}